extends layout

-var page = 'Home'


mixin imageItem(link, img, description, likes)
  li
    a(href=link, target='blank')
      .background-image-holder
        img.background-image(alt=likes + ' Likes', src=img)

mixin twitterItem(link, avatar, username, userscreen, tweet)  
  .col-sm-4.twitter-item
    p.tweet(style="font-size: 18px;")!=twitterText(tweet)

mixin youtubeItem(id)
  .col-md-6.col-sm-6.mb-xs-30.mb24
    .embed-video-container.embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src="https://www.youtube.com/embed/" + id + "?showinfo=0&rel=0&modestbranding=1")

block content

  section.pt120.pb120.image-bg.overlay.parallax
    .overlay
    .background-image-holder
      img.background-image(alt="Background", src="img/bg-video-triangle.png")
    .container
      .row.v-align-children
        .col-sm-8.mb-xs-100.text-center-xs
          h2.mb0
            | Black Ops is Back, We are too!
          h4.mb24
            | More Black Ops Videos Comming Soon
          a.btn.btn-filled.btn-lg.mb0(href="https://www.youtube.com/user/bxxcclan") Our YouTube Channel
        .col-sm-4.text-center.text-center-xs.mb-xs-20.mt-xs-80
          .modal-container
            .play-button.btn-modal.large.inline
            .foundry_modal.no-bg
              iframe(data-provider="youtube", data-video-id="4tIiWVATbkM", data-autoplay="1")
      
    .align-bottom.text-center
      ul.list-inline.social-list.mb24
        li
          a(href="https://twitter.com/bxxcclan")
            i.fa.fa-twitter
        li
          a(href="https://www.facebook.com/bxxcclan")
            i.fa.fa-facebook
        li
          a(href="https://instagram.com/bxxcclan")
            i.fa.fa-instagram
        li
          a(href="https://www.youtube.com/user/bxxcclan")
            i.fa.fa-youtube
  
  if Data.twitterFeed
    section.bg-dark(style="padding-top: 60px; padding-bottom: 30px;")
      .container
        .row
          .col-md-12
            .header(style="margin-bottom: 40px; height: 50px;")
              a(href="http://twitter.com/bxxcclan", target='blank')
                .pull-left
                  h4
                    i.ti-twitter-alt.icon.icon-sm
                .pull-left.ml10
                  h4 Twitter
        .row.text-center
          each e, i in Data.twitterFeed
            if i < 3
              +twitterItem('http://twitter.com/' + e.user.screen_name, e.profile_image_url_https, e.user.name, e.user.screen_name, e.text)
  
  if Data.youtubePlaylist.items
    section.bg-dark(style="padding-top:30px; padding-bottom: 30px;")
      .container.text-center
        .row
          .col-md-12
            .header(style="margin-bottom: 40px; height: 50px;")
              a(href="http://youtube.com/bxxcclan", target='blank')
                .pull-left
                  h4
                    i.ti-youtube.icon.icon-sm
                .pull-left.ml10
                  h4 YouTube
        .row
          each v, i in Data.youtubePlaylist.items
            +youtubeItem(v.snippet.resourceId.videoId)
  
  if Data.instagramFeed.data
    section.bg-dark(style="padding-top:30px; padding-bottom: 30px;")
      .container.text-center
        .row
          .col-md-12
            .header(style="margin-bottom: 40px; height: 50px;")
              a(href="http://instagram.com/bxxcclan", target='blank')
                .pull-left
                  h4
                    i.ti-instagram.icon.icon-sm
                .pull-left.ml10
                  h4 Instagram
                .pull-right
                  h4 @BXXCCLAN
        .row
          .col-sm-12
            .lightbox-grid.square-thumbs()
              ul
                each e, i in Data.instagramFeed.data
                  if i < 8
                    +imageItem(e.link, e.images.standard_resolution.url, e.caption, e.likes.count)

  if Data.instagramTag.data
    section.bg-dark(style="padding-top:30px; padding-bottom: 30px;")
      .container.text-center
        .row
          .col-md-12
            .header(style="margin-bottom: 40px; height: 50px;")
              a(href="http://instagram.com/bxxcclan", target='blank')
                .pull-left
                  h4
                    i.ti-instagram.icon.icon-sm
                .pull-left.ml10
                  h4 Instagram
                .pull-right
                  h4 #BXXCCLAN
        .row
          .col-sm-12
            .lightbox-grid.square-thumbs()
              ul
                each e, i in Data.instagramTag.data
                  if i < 8
                    +imageItem(e.link, e.images.standard_resolution.url, e.caption, e.likes.count)
