extends layout

-var page = 'Home'


mixin imageItem(link, img, description, likes)
  li
    a(href=link)
      .background-image-holder
        img.background-image(alt=likes + ' Likes', src=img)

mixin twitterItem(link, avatar, username, userscreen, tweet)  
  .col-sm-4.twitter-item
    p.tweet(style="font-size: 18px;")!=twitterText(tweet)

mixin youtubeItem(id)
  .col-md-6.col-sm-6.mb-xs-30.mb24
    .embed-video-container.embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src="https://www.youtube.com/embed/" + id + "?showinfo=0&rel=0&modestbranding=1")

block content

  section.pt120.pb120.image-bg.overlay.parallax
    .overlay
    .background-image-holder
      img.background-image(alt="Background", src="img/bg-video-triangle.png")
    .container
      .row.v-align-children
        .col-sm-8.mb-xs-80
          h2.mb16
            | Black Ops is Back, We are too
            br.hidden-sm
            | More Black Ops Videos Commin Soon
          a.btn.btn-filled.btn-lg.mb0(href="https://www.youtube.com/user/bxxcclan") Our YouTube Channel
        .col-sm-4.text-center.text-left-xs
          .modal-container
            .play-button.btn-modal.large.inline
            .foundry_modal.no-bg
              iframe(data-provider="youtube", data-video-id="4tIiWVATbkM", data-autoplay="1")

  section.bg-dark(style="padding-top: 60px; padding-bottom: 30px;")
    .container
      .row
        .col-md-12
          .header(style="margin-bottom: 40px; height: 50px;")
            .pull-left
              h4
                i.ti-twitter-alt.icon.icon-sm
            .pull-left.ml10
              h4 Twitter
      .row.text-center
        each e, i in data.twitterFeed
          if i < 3
            +twitterItem('http://twitter.com/' + e.user.screen_name, e.profile_image_url_https, e.user.name, e.user.screen_name, e.text)
            
  section.bg-dark(style="padding-top:30px; padding-bottom: 30px;")
    .container.text-center
      .row
        .col-md-12
          .header(style="margin-bottom: 40px; height: 50px;")
            .pull-left
              h4
                i.ti-youtube.icon.icon-sm
            .pull-left.ml10
              h4 YouTube
      .row
        each v, i in data.youtubePlaylist.items
          +youtubeItem(v.snippet.resourceId.videoId)
  
  section.bg-dark(style="padding-top:30px; padding-bottom: 30px;")
    .container.text-center
      .row
        .col-md-12
          .header(style="margin-bottom: 40px; height: 50px;")
            .pull-left
              h4
                i.ti-instagram.icon.icon-sm
            .pull-left.ml10
              h4 Instagram
            .pull-right
              h4 @BXXCCLAN
      .row
        .col-sm-12
          .lightbox-grid.square-thumbs()
            ul
              each e, i in data.instagramFeed.data
                if i < 8
                  +imageItem(e.link, e.images.standard_resolution.url, e.caption, e.likes.count)

  section.bg-dark(style="padding-top:30px; padding-bottom: 30px;")
    .container.text-center
      .row
        .col-md-12
          .header(style="margin-bottom: 40px; height: 50px;")
            .pull-left
              h4
                i.ti-instagram.icon.icon-sm
            .pull-left.ml10
              h4 Instagram
            .pull-right
              h4 #BXXCCLAN
      .row
        .col-sm-12
          .lightbox-grid.square-thumbs()
            ul
              each e, i in data.instagramTag.data
                if i < 8
                  +imageItem(e.link, e.images.standard_resolution.url, e.caption, e.likes.count)

  
