doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name='node-env', content=env)
    title BxxC Clan | #{pageTitle}
    block css
      link(rel='stylesheet', href='/css/core.css')
    block js
      if env == 'development'
        script(src='http://localhost:35729/livereload.js')
      script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
  body
    #background
      #overlay

    #outdated

    .content
      .container
        block content

    script(src='/js/core.js')
